<style >
            ul#navbarButtons li{
            display: inline-block;
            background-color: lightgrey;
            border: 1px solid;
            list-style: none;
            padding: 12px;
            border-radius: 5px 5px;

            }
            .navbar{
              margin-left: -15px;
              background-color: darkgrey;
              width: 100%;
              height: 50px;
              text-align: left;
              margin-top: 20px;

            }
            .insert_button{

             margin-left: 50px;
              margin-top: 7px;
              float:left;
              padding-right: 10px;
            }
            .dropdown-menu{

              margin-left: 10px;
              margin-top: 20px;

            }
            header{
              margin-top: 10px;
              text-decoration-color: white;
              font-weight: bolder;
              font-family:monospace;
              font-size: 20px;
              }
              a{
                color: white;
              }
      </style>